.h-flex {
  display: flex;
}

.h-flex--space-between {
  justify-content: space-between;
}

.h-flex--center {
  align-items: center;
}

@media only screen and (min-width: 768px)  {
  .h-flex-desktop {
    display: flex;
  }
}
